@charset "utf-8";
/* CSS Document */


/* FONT FACE */

@font-face {
    font-family: vamtam-icons; 
    src: url(../vamtam/assets/fonts/icons/icons.eot);
    src: url(../vamtam/assets/fonts/icons/icons.eot?#iefix) format('embedded-opentype'),
         url(../vamtam/assets/fonts/icons/icons.woff) format('woff'),
         url(../vamtam/assets/fonts/icons/icons.ttf) format('truetype'),
         url(../vamtam/assets/fonts/icons/icons.svg#vamtam-icons) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-regular; 
    src: url(../typefaces/thesans-plain-webfont.eot);
    src: url(../typefaces/thesans-plain-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-plain-webfont.woff) format('woff'),
         url(../typefaces/thesans-plain-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-plain-webfont.svg#thesans-regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semibold;
    src: url(../typefaces/thesans-w6sebld-webfont.eot);
    src: url(../typefaces/thesans-w6sebld-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w6sebld-webfont.woff) format('woff'),
         url(../typefaces/thesans-w6sebld-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w6sebld-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semilight;
    src: url(../typefaces/thesans-w4selig-webfont.eot);
    src: url(thesans-w4selig-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w4selig-webfont.woff) format('woff'),
         url(../typefaces/thesans-w4selig-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w4selig-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semilight-italic;
    src: url(../typefaces/thesans-w4seligit-webfont.eot);
    src: url(../typefaces/thesans-w4seligit-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w4seligit-webfont.woff) format('woff'),
         url(../typefaces/thesans-w4seligit-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w4seligit-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-bold;
    src: url(../typefaces/thesans-w7bld-webfont.eot);
    src: url(../typefaces/thesans-w7bld-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w7bld-webfont.woff) format('woff'),
         url(../typefaces/thesans-w7bld-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w7bld-webfont.svg#thesans-bold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-italic; 
    src: url(../typefaces/thesans-w4seligit-webfont.eot);
    src: url(../typefaces/thesans-w4seligit-webfont.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/thesans-w4seligit-webfont.woff) format('woff'),
		 url(../typefaces/thesans-w4seligit-webfont.ttf) format('truetype'),
		 url(../typefaces/thesans-w4seligit-webfont.svg#thesans-italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Gotham-bold;
	src: url(../typefaces/gothamrounded-bold.eot);
	src: url(../typefaces/gothamrounded-bold.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/gothamrounded-bold.woff) format('woff'),
		 url(../typefaces/gothamrounded-bold.ttf) format('truetype'),
		 url(../typefaces/gothamrounded-bold.svg#Gotham-bold) format('svg');
	font-weight: normal;
	font-style: normal;
	speak: none;
}

@font-face {
	font-family: Gotham-medium;
	src: url(../typefaces/GothamRounded-Medium.eot);
	src: url(../typefaces/GothamRounded-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/GothamRounded-Medium.woff) format('woff'),
		 url(../typefaces/GothamRounded-Medium.ttf) format('truetype'),
		 url(../typefaces/GothamRounded-Medium.svg#Gotham-medium) format('svg');
	font-weight: normal;
	font-style: normal;
	speak: none;
}


@media only screen and (min-width: 768px) and (max-width: 1025px) {
	

}

@media only screen and (min-width: 768px) {
	/** HOME FIRST CONTENT **/
	.circle-cont { width:716px; display: block; margin: 0 auto; margin-top:30px; background:none!important; border: none!important; }
	.circle { border-radius: 50%; overflow: hidden;  width: 186px; height: 186px; text-transform:uppercase; vertical-align: middle; padding: 15px; color:#fff!important; text-align: center; cursor: pointer; }
	.circle p strong { font-size:1.2em; }
	.circle div.price { font-size:5em; font-family:Gotham-bold; display:inline-block; margin:15px 0; }

	.cpnk, .cgrn, .corg { display:inline-block; margin:5px!important; }
	.circle > span { width: 136px; display: block; font-size:64px; vertical-align: top; margin: 0 auto; margin-top:-40px; overflow: hidden; font-family:Gotham-bold; }
	.circle span em { display: block; font-size:48px; font-style:normal; font-weight: normal; float: left; margin-top:8px; }
	.circle span span { display: block; font-size:78px; float: left; font-style:normal; }
	.circle strong { display: block; float: none; font-size:14px; font-weight: normal; margin-top:-12px; }
	
	.new-primary { width:100%; padding-bottom:30px; }
	
	.new-primary-inner { width:100%; display: block; margin:0 auto; overflow: hidden; padding:0 2em; max-width:77em; }
	.new-primary-inner > ul { display: block; margin:0 auto; margin-top:36px; }

	.new-primary-inner > ul > li > h2 { padding-bottom:16px; }
	.new-primary-inner > ul > li > h2 span { display: block; line-height:100%; } 
	.new-primary-inner > ul > li > p { color:#333333; padding-bottom:16px;}
	.new-primary-inner > ul > li a, .new-primary-inner li a:visited { text-decoration: none; }
	
	.new-primary-inner  ul li ul  li { width:210px; display: block; float: left; color:#333333; padding-left:16px; margin:0; }
	.new-primary-inner  ul li ul  li strong { display: block; text-transform:uppercase; letter-spacing:-1px; }
	.new-primary-inner  ul li ul  li img { display: block; float: left; padding: 0 12px 40px 0; }
	/* END FIRST CONTENT */
	
	
	
	/** HOME SECOND CONTENT **/
	#content-container {  width: 100%; background: url("../design/images/masters/bkng-secondary.jpg") no-repeat top center; clear: both; border-bottom:1px solid #96c661; }
	#content-container-inner { margin: 0 auto; overflow: hidden; padding-bottom: 40px; }
	#main-content-left h2, #audience-content h2, #main-content-full h2  { font-size:24px; color: #f26633;  }
	#main-content-left p + h2 { margin-top: 20px; }
	#main-content-left h2 span, #audience-content h2 span, #main-content-full h2 span { display: block; font-size:32px; color:#f26633; text-transform: uppercase; line-height: 95%; margin-bottom: 7px;  }
	#main-content-left h5 { font-size:20px; color: #f26633; line-height:100%; margin-top: 20px; }
	#main-content-left h5 span { display: block; font-size:26px; color:#f26633; text-transform: uppercase; }
	#main-content-left p, #audience-content-left p, #audience-content p, #main-content-full p, #terms-conditions p { font: 12px Tahoma, Verdana, Arial; color:#666666; text-align: justify; padding: 5px 0; line-height: 120%; } 
	
	/* END SECOND CONTENT */
	
	
	/** HOME PRE FOOTER **/  
	#pre-footer { padding: 30px 0; overflow: hidden; }
	#pre-footer-inner { width:100%; display: block; margin:0 auto; overflow: hidden; max-width:78.598em; }
	#pre-footer-inner ul li { display: block; color:#fff; float: left; }
	#pre-footer-inner ul li:nth-child(1) { width:40%; } 
	#pre-footer-inner ul li:nth-child(2) { width:60%; } 

	/* END PRE FOOTER */
	
	
	.primary-feat > ul > li  { display: block; float: left; }
	.primary-feat > ul > li:nth-child(1)  { width:40%; }
	.primary-feat > ul > li:nth-child(2)  { width:60%; }
	

	#logo-menu { display:table-cell!important; }

	
        /* Sticky Header Desktop */
        body.full #page .boxed-layout {
         margin-top:164px!important;

        }
        
        #right-side-panel { float: left; width: 100%; max-width: 25em; }
        
        .single-opticomm-fibre div.product form.cart .variations div.box_select, .single-firstpath-fibre div.product form.cart .variations div.box_select, .single-nbn-fibre div.product form.cart .variations div.box_select, .single-nbn-fixed-wireless div.product form.cart .variations div.box_select, .single-nbn-co-satellite-support-scheme div.product form.cart .variations div.box_select {
            display: inline-block; max-width: 43em; width: 25.5%;
            padding: 20px; margin-right: 1.5%; margin-bottom: 10px;
            border:2px solid #f0542d;
        }
        
        .single-opticomm-fibre div.product form.cart .variations div.box_select span, .single-firstpath-fibre div.product form.cart .variations div.box_select span, .single-nbn-fibre div.product form.cart .variations div.box_select span, .single-nbn-fixed-wireless div.product form.cart .variations div.box_select span, .single-nbn-co-satellite-support-scheme div.product form.cart .variations div.box_select span {
            display: inline-table;
        }
        /* adding toll message on the order button */
        .woocommerce div.product form.cart .call-toll {
            margin-left: 10px;
        }
}

body, p, .main-container {
        font-family: thesans-regular!important;
        font-size: 1em;
}

body {
        background-color: #eee;
}

footer.main-footer .widget.widget_nav_menu .menu li a {
        padding:0 8px!important;
}
	
#footer-sidebars > .row aside { padding:30px 0!important; }
	
#pre-footer-inner { color:#fff; }
.primary-feat > ul { list-style-type:none; display: block; margin:0 auto; margin-top:36px; }
.new-primary-inner  ul li ul  li { width:210px; display: block; float: left; color:#333; padding-left:16px; margin:0; }
.new-primary-inner  ul li ul  li strong { display: block; text-transform:uppercase; letter-spacing:-1px; }
.new-primary-inner  ul li ul  li img { display: block; float: left; padding: 0 12px 40px 0; }
.new-primary-inner > ul { list-style-type:none; }
.new-primary-inner > ul > li  { width:100%; max-width:38.3em; display:inline-block;}
	
.new-primary-inner  ul li ul { list-style-type:none; display: block; margin: 34px 0 0 30px; }
.new-primary-inner > ul > li > h2, .new-primary-inner  ul li ul  li strong, .new-primary-inner > ul > li a, .new-primary-inner li a:visited, .primary-feat > ul > li > h2 { color:#ff6633; }
.primary-feat ul li ul li { font:500 18px "thesans-italic";  color:#333; background: url("../design/images/icons/bullet-plus.png") no-repeat 0px 9px; list-style-type:none; padding: 2px 8px 1px 18px; cursor: pointer; }
.primary-feat ul li ul li:last-child { color:#ff6633; }
.primary-feat > ul > li a, .new-primary-inner li a:visited { font-size:13px; color:#ff6633; text-decoration: none; }
.feat-btn-org {  display: block; color:#fff!important; float:left!important; font-size:18px; text-transform: uppercase; padding: 12px 46px!important;  margin-bottom: 10px; background: #cc3300; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); }
p.notee {  width:90%!important; font-size:12px; color:#333!important; text-align: right!important; padding-top:20px!important; }
	
.responsive-layout .wpv-grid.extended-content .extended-column-inner { padding:0; }
	
#pre-footer-inner ul { list-style-type:none; }
#pre-footer-inner ul > li > div.heith2 p { margin:0; color:#fff; font-size:26px; font-family:Gotham-medium!important; }
#pre-footer-inner ul > li > div.heith2 div.ispan { display: block; font-size:36px; line-height:100%; font-weight:bold; font-family:Gotham-bold!important; } 
#pre-footer-inner ul > li > div.parag { width:88%; display: block; font-size:16px; padding-left:50px; background: url('../content/images/residential/homepage/icon-double-left-quot.png') no-repeat 0px 0px; text-align:left; }
#pre-footer-inner ul > li > div.parag em { display: block; font-size:13px; text-align: right; color:#fff; }
	
.responsive-layout header.main-header .second-row { display:block!important; }
#logo-menu ul { width:20em; margin-left:2em; margin-top:3em; }
#logo-menu ul > li {
        display:table-cell; padding:5px 15px; text-align:center;
}
#logo-menu ul > li:hover {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#logo-menu ul > li:hover > a, #logo-menu ul > li:hover, #logo-menu ul > li:hover > a span {
	color:#f26633;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
#logo-menu ul > li.residential {  }
#logo-menu ul > li > a span { margin-bottom:5px; }
#logo-menu ul > li > a { font-family:thesans-bold; color:#666; display:block; line-height:15px; font-size:13px; }
        
/* ACTIVE ORANGE for PRODUCTS */
#logo-menu ul > li.current-menu-item > a,
body.single-nbn-fibre #logo-menu ul > li.residential > a, /* nbn fibre */
body.single-nbn-fixed-wireless #logo-menu ul > li.residential > a, /* nbn fixed wireless */
body.single-nbn-co-satellite-support-scheme #logo-menu ul > li.residential > a, /* nbn satellite */
body.single-firstpath-fibre #logo-menu ul > li.residential > a, /* firstpath */
body.single-opticomm-fibre #logo-menu ul > li.residential > a, /* opticomm */
body.single-platinum #logo-menu ul > li.residential > a, /* nbn bundle */
body.single-starter #logo-menu ul > li.residential > a, /* nbn bundle */
body.single-unlimited #logo-menu ul > li.residential > a, /* nbn bundle */
body.single-unlimited-boost #logo-menu ul > li.residential > a, /* nbn bundle */
body.single-residential-phone-plan #logo-menu ul > li.residential > a, /* nbn bundle */
body.single-firstpath-unlimited-platinum-plan #logo-menu ul > li.residential > a, /* firstpath bundle */
body.single-firstpath-unlimited-gold-plan #logo-menu ul > li.residential > a, /* firstpath bundle */
body.single-firstpath-unlimited-mobile-boost-plan #logo-menu ul > li.residential > a, /* firstpath bundle */
body.single-firstpath-unlimited-plan #logo-menu ul > li.residential > a, /* firstpath bundle */
body.single-firstpath-simple-unlimited-plan #logo-menu ul > li.residential > a, /* firstpath bundle */
body.single-opticomm-platinum-plan #logo-menu ul > li.residential > a, /* opticomm bundle */
body.single-opticomm-unlimited-boost-plan #logo-menu ul > li.residential > a, /* opticomm bundle */
body.single-opticomm-unlimited-plan #logo-menu ul > li.residential > a, /* opticomm bundle */
body.single-opticomm-started-plan #logo-menu ul > li.residential > a, /* opticomm bundle */
body.single-small-business-plan #logo-menu ul > li.business > a /* residential phone */ {
        color:#f0542d;
}
        
/* ACTIVE ORANGE BORDER for PRODUCTS */
body.single-firstpath-unlimited-platinum-plan #main-menu ul > li.bundles > a, /* firstpath bundle */
body.single-firstpath-unlimited-gold-plan #main-menu ul > li.bundles > a, /* firstpath bundle */
body.single-firstpath-unlimited-mobile-boost-plan #main-menu ul > li.bundles > a, /* firstpath bundle */
body.single-firstpath-unlimited-plan #main-menu ul > li.bundles > a, /* firstpath bundle */
body.single-firstpath-simple-unlimited-plan #main-menu ul > li.bundles > a, /* firstpath bundle */
body.single-opticomm-platinum-plan #main-menu ul > li.bundles > a, /* opticomm bundle */
body.single-opticomm-unlimited-boost-plan #main-menu ul > li.bundles > a, /* opticomm bundle */
body.single-opticomm-unlimited-plan #main-menu ul > li.bundles > a, /* opticomm bundle */
body.single-opticomm-started-plan #main-menu ul > li.bundles > a, /* opticomm bundle */
body.single-platinum #main-menu ul > li.bundles > a, /* nbn bundle */
body.single-starter #main-menu ul > li.bundles > a, /* nbn bundle */
body.single-unlimited #main-menu ul > li.bundles > a, /* nbn bundle */
body.single-unlimited-boost #main-menu ul > li.bundles > a, /* nbn bundle */
body.single-residential-phone-plan #main-menu ul > li.phone > a /* residential phone */ {
        border-bottom: 3px solid #f0542d;
}
        
/* ACTIVE ORANGE for PAGES */
body.page-business-bundles #logo-menu ul > li.business > a,
body.page-business-internet #logo-menu ul > li.business > a,
body.page-business-phone #logo-menu ul > li.business > a,
body.page-business-hosted-pbx #logo-menu ul > li.business > a,
body.page-nbn-bundles #logo-menu ul > li.residential > a,
body.page-residential-internet #logo-menu ul > li.residential > a,
body.page-nbn-broadband #logo-menu ul > li.residential > a,
body.page-firstpath-bundles #logo-menu ul > li.residential > a,
body.page-opticomm-bundles #logo-menu ul > li.residential > a,
body.page-nbn-terms-conditions #logo-menu ul > li.residential > a,
body.page-residential-phone #logo-menu ul > li.residential > a,
body.page-residential-routers #logo-menu ul > li.residential > a,
body.page-hardware-phones #logo-menu ul > li.residential > a {
        color:#f0542d;
}
        
#logo-menu { display:none; }
	
.searchform input#searchsubmit, .searchform input.s { float:left; }
.searchform input.s { max-width:85%; border-right:none;}
.searchform input.s:focus { border-width: 1px 0 1px 1px!important; border-color:rgba(43, 47, 52, 0.1)!important; }
.searchform { width:200px; }
	
.searchform input#searchsubmit {
	width:25px; height:30px; border:none; text-indent:-1000em; padding:0; border:1px solid rgba(43, 47, 52, 0.1);
	background:url(../design/images/icons/search-sprite.png) #fff 0 -5px; border-left:none;
}	
.searchform input.field { height:30px; padding:0 15px; font-size:14px; margin:0; }
	
footer.main-footer, footer.main-footer p, footer.main-footer a, footer.main-footer th, footer.main-footer td { color:#333; }
header.main-header #header-text { font-size:14px!important; }
header.main-header #header-text a { font-size:16px; }
	
.circle-cont { display: block; background:none!important; border: none!important; }
.circle/*, .price-wrapper .value-box*/ { border-radius: 50%; overflow: hidden;  width: 186px; height: 186px; text-transform:uppercase; vertical-align: middle; padding: 20px; color:#fff!important; text-align: center; cursor: pointer; font-family:Gotham-bold; }
.circle p { color:#fff; font-family:Gotham-medium!important; }
.circle p strong { font-size:1.2em; }
.circle div.price { font-size:7em; font-family:Gotham-bold; display:inline-table; margin:15px 0 0; height:60px; }
.circle p:empty { display:table!important; }
.cpnk { background: #e60f84;  }
.cgrn { background: #0eb48e; }
.corg { background: #f84c24; }
.cpnk, .cgrn, .corg {
	margin:10px auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.circle > span { width: 136px; display: block; font-size:64px; vertical-align: top; margin: 0 auto; margin-top:-40px; overflow: hidden; font-family:Gotham-bold; }
.circle span em { display: block; font-size:48px; font-style:normal; font-weight: normal; float: left; margin-top:8px; }
.circle span span { display: block; font-size:78px; float: left; font-style:normal; }
.circle strong { display: block; float: none; font-size:14px; font-weight: normal; margin-top:-12px; }
	
	
/* SITEMAP */
.sitemap { text-align:center; }

.sitemap ul {
	padding-top: 20px; position: relative;
	display:flex;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.sitemap li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.sitemap ul > li::before {
	content:''!important;
}
.sitemap li::before, .sitemap li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 15px;
}
.sitemap li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.sitemap li:only-child::after, .sitemap li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.sitemap li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.sitemap li:first-child::before, .sitemap li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.sitemap li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.sitemap li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.sitemap ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.sitemap li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-size: 13px;
	display: inline;
	background-color:#f1f1f1;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.sitemap li a:hover, .sitemap li a:hover+ul li a {
	background: #f0542d; color: #fff; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.sitemap li a:hover+ul li::after, 
.sitemap li a:hover+ul li::before, 
.sitemap li a:hover+ul::before, 
.sitemap li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

.top-nav .menu li.current_page_item {
	background-color:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.top-nav .menu li.current_page_item a { color:#f26633!important; }
.top-nav a { color:#fff!important; font-weight:bold; }
.woocommerce form .form-row label, .woocommerce-page form .form-row label { display:inline!important; }
.single_variation { padding:20px 0; color:#fff; }

.woocommerce div.product div.images, .woocommerce div.product div.summary { width:100%!important; max-width: 55em; float: left!important; }
.woocommerce div.product form.cart .variations select { width:auto!important; }
.short-desc { list-style:none; margin:0; }

.woocommerce.woocommerce-cart table.shop_table th.product-quantity, .woocommerce.woocommerce-cart table.shop_table td.product-quantity, .woocommerce.woocommerce-cart table.shop_table th.product-thumbnail, .woocommerce.woocommerce-cart table.shop_table td.product-thumbnail { display:none; }
.woocommerce.woocommerce-checkout table.shop_table, .woocommerce.woocommerce-checkout table.shop_table th, .woocommerce.woocommerce-checkout table.shop_table td { width:auto; }

html.placeholder .woocommerce label[for] { display:inline-block!important; font-family: Gotham-medium; max-width: 21em; width: 100%; }
html.placeholder .woocommerce label.bpoint { margin:10px 0 0 30px; }
.woocommerce #payment ul.payment_methods li input { border: solid 1px rgba(43,47,52,0.1)!important; margin-left:10px; }

.facebook-button .grid-1-1 { text-align:center; margin-top: 40px; }
.woocommerce div.product form.cart .variations fieldset input[type="radio"] { margin:0 5px; }
/*.price-wrapper .value-box { width: 200px!important; margin: 0 auto; }*/


.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
    font-size: 1em!important; line-height: none!important;
    height: auto!important;
}
.page-header .title { padding: 50px 0 20px!important; }
/*.price-wrapper .value-box .value-box-content { width: 200px; }*/
.price-wrapper h3 { display: none; }
.price-wrapper .price-59, .price-wrapper .price-40 { background: #0eb48e!important; }
.price-wrapper .price-65 { background: #e60f84!important; }
.price-wrapper .price-85, .price-wrapper .price-89 { background: #f84c24!important; }
.price-wrapper .price-99 { background: #f8a124!important; }



/* Sticky Header */
#header-wrap {
    background: #eeeeff;
    width: 100%;
    height: 50px;
    top: 0;
    
}
.fixed-header-box{
    background: #eeeeff;
    width: 100%;
    height: 50px;
}
.posi{
    position:fixed;
    margin-top: 0;
    top:0;
}

/* SEARCH ADDRESS */
.search-address div.datafields,.search-address div.hello_test { display: none; }
.search-address div.hello_test { text-align: center; color: #fff; }
.search-address #startsearch, .search-address #startsearchbusiness { float: none; margin: 0; }
.search-address p { text-align: center; }
.search-address p label { color: #fff; display: block; font-family: Gotham-bold; font-size: 2em; line-height: 1.5em; }
.search-address p input[type=text] { width: 100%; max-width: 35em; margin: 0; }
.search-address input#startsearch, .search-address input#startsearch:focus, .search-address input#startsearchbusiness, .search-address input#startsearchbusiness:focus { border-style: inset; }



/* product style */
.product-addon-add-14-for-mobile-plan, .product-addon-voicemail-4-a-month {

}

body.full .page-wrapper > article.right-only { padding: 0!important; }
/*.page-wrapper > div.right-only, .page-wrapper > article.right-only { width: 100%!important; }*/

.no-header-sidebars.no-page-header .page-wrapper {
    padding-top: 30px!important;
}

.woocommerce form .form-row {
    padding: 0!important;
}

/*#product-addons-total {
    position: absolute;
    top: 0; right: 0;

}*/

.woocommerce div.product p.price {
    display: none!important;
}

.gform_wrapper .top_label .gfield_label, .woocommerce div.product form.cart .variations label {
    font-family: Gotham-medium;
    font-size: 1.7em; color: #555;
}
.woocommerce div.product form.cart .variations label.monthly_price {
    font-size: 1em; line-height: 22px; max-width: 43em;
    display: inline-table; height: 22px; width: 80%;
    margin-left: 1em; font-family: Gotham-medium;
}
.woocommerce div.product form.cart .variations label.monthly_price b {
    display: block; font-size: 1.3em;
}

.woocommerce div.product form.cart .variations .custom-nbn-satellite label span {
    color: #f0542d; font-size: 1.4em; font-family: Gotham-bold;
}

.woocommerce div.product form.cart .variations .custom-nbn-satellite {
    text-align: center;
}


.gform_wrapper .top_label .gfield_label {
    padding: .8em 0;
}

#right-side-panel ul li::before, #right-side-panel ul li::after, #right-side-panel ul.moved-element {
    margin: 0; overflow: visible; padding: 0;
}

.gform_wrapper { max-width: none; }
#right-side-panel { padding-left: 20px; margin: 0; }

#right-side-panel .product_totals ul {
    padding: 20px 40px; border: 10px solid #f0542d!important; clear: both;
}

#right-side-panel .product_totals ul li label { padding: 0; margin: 0 0 5px; font-size: 1.3em; }
#right-side-panel .product_totals .variations_button { margin-top: 20px; }

.product_totals .ginput_container { font-family: Gotham-bold; font-size: 2em; margin-bottom: .5em; color: #f0542d; }

.woocommerce div.product div.summary { margin: 0!important; }
.gform_wrapper span.ginput_total { color: #f0542d!important; }
.gform_wrapper span.permonth { font-size: .7em!important; display: inline-block; line-height: .3em; }


/* CUSTOM RADIO AND CHECKBOX */

.custom-checkbox,.custom-radio,.custom-radio-box{
    width: 22px; height: 22px;
    display: inline-block; top: 3px;
    position: relative; z-index: 1;
    background-repeat:no-repeat;
    background-image:url('radio.png');
}
.custom-checkbox,.custom-radio-box{
    background-position: -24px 0;
}
.custom-checkbox.selected,.custom-radio-box.selected{
    background-position:-48px 0;
}
.custom-checkbox input[type="checkbox"],.custom-radio input[type="radio"],.custom-radio-box input[type="radio"]{
margin: 0; position: absolute;
z-index: 2; cursor: pointer;
outline: none; opacity: 0;
/* CSS hacks for older browsers */
_noFocusLine: expression(this.hideFocus=true); 
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-khtml-opacity: 0;
-moz-opacity: 0;
}
.custom-radio{
    background-position: -144px 0;
}
.custom-radio.selected{
    background-position: -168px 0;
}
.vamtam-font-style-2.with-color {
    color: #f0542d!important;
    font-family: Gotham-medium;
}

.custom-nbn h4 { color: #f26633!important; }

/* Sticky Header Desktop */
body.full #page .boxed-layout {
    margin-top:76px;
}

.wpv-accordion .tab .ui-icon {
    width: 20px!important;
    margin-right: 20px;
}

.wpv-accordion .tab .inner {
    font-size: 1.5em;
    font-family: Gotham-medium;
}

/* FancyBox style */
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}

body.page-template-page-cis .no-header-sidebars.no-page-header .page-wrapper {
    padding-top: 0!important;
}



/* Half Circle */
#g1 {
    width:100%; height:300px;
    margin: 0; max-width: 48em
}
      
#g2, #g3, #g4 {
    width:100px; height:80px;
    display: inline-block;
    margin: 1em;
}

.gform_wrapper .gfield_description {
    padding-bottom: 30px!important;
}


.services.has-more .closed .services-content-wrapper {
    color: rgb(102, 102, 102);
}

/* adding toll message on the order button */
.woocommerce div.product form.cart .call-toll {
    font-family: Gotham-medium;
    float: left;
    font-size: 1.3em;
    line-height: 2.4em;
}