label       { display: block; cursor: pointer; line-height: 20px; padding-bottom: 9px; text-shadow: 0 -1px 0 rgba(0,0,0,.2); }
.radios     { padding-top: 18px; background: url(divider.png) repeat-x 0 0; }
.label_check input,
.label_radio input  { margin-right: 5px; }


.has-js .label_check,
.has-js .label_radio    { padding-left: 34px; }
.has-js .label_radio    { background: url(radio-off.png) no-repeat; }
.has-js .label_check    { background: url(check-off.png) no-repeat; }
.has-js label.c_on      { background: url(check-on.png) no-repeat; }
.has-js label.r_on      { background: url(radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input  { position: absolute; left: -9999px; }
