@charset "utf-8";
/* CSS Document */


/* FONT FACE */

@font-face {
    font-family: vamtam-icons; 
    src: url(../vamtam/assets/fonts/icons/icons.eot);
    src: url(../vamtam/assets/fonts/icons/icons.eot?#iefix) format('embedded-opentype'),
         url(../vamtam/assets/fonts/icons/icons.woff) format('woff'),
         url(../vamtam/assets/fonts/icons/icons.ttf) format('truetype'),
         url(../vamtam/assets/fonts/icons/icons.svg#vamtam-icons) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-regular; 
    src: url(../typefaces/thesans-plain-webfont.eot);
    src: url(../typefaces/thesans-plain-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-plain-webfont.woff) format('woff'),
         url(../typefaces/thesans-plain-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-plain-webfont.svg#thesans-regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semibold;
    src: url(../typefaces/thesans-w6sebld-webfont.eot);
    src: url(../typefaces/thesans-w6sebld-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w6sebld-webfont.woff) format('woff'),
         url(../typefaces/thesans-w6sebld-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w6sebld-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semilight;
    src: url(../typefaces/thesans-w4selig-webfont.eot);
    src: url(thesans-w4selig-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w4selig-webfont.woff) format('woff'),
         url(../typefaces/thesans-w4selig-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w4selig-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-semilight-italic;
    src: url(../typefaces/thesans-w4seligit-webfont.eot);
    src: url(../typefaces/thesans-w4seligit-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w4seligit-webfont.woff) format('woff'),
         url(../typefaces/thesans-w4seligit-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w4seligit-webfont.svg#thesans-semibold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-bold;
    src: url(../typefaces/thesans-w7bld-webfont.eot);
    src: url(../typefaces/thesans-w7bld-webfont.eot?#iefix) format('embedded-opentype'),
         url(../typefaces/thesans-w7bld-webfont.woff) format('woff'),
         url(../typefaces/thesans-w7bld-webfont.ttf) format('truetype'),
         url(../typefaces/thesans-w7bld-webfont.svg#thesans-bold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: thesans-italic; 
    src: url(../typefaces/thesans-w4seligit-webfont.eot);
    src: url(../typefaces/thesans-w4seligit-webfont.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/thesans-w4seligit-webfont.woff) format('woff'),
		 url(../typefaces/thesans-w4seligit-webfont.ttf) format('truetype'),
		 url(../typefaces/thesans-w4seligit-webfont.svg#thesans-italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Gotham-bold;
	src: url(../typefaces/gothamrounded-bold.eot);
	src: url(../typefaces/gothamrounded-bold.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/gothamrounded-bold.woff) format('woff'),
		 url(../typefaces/gothamrounded-bold.ttf) format('truetype'),
		 url(../typefaces/gothamrounded-bold.svg#Gotham-bold) format('svg');
	font-weight: normal;
	font-style: normal;
	speak: none;
}

@font-face {
	font-family: Gotham-medium;
	src: url(../typefaces/GothamRounded-Medium.eot);
	src: url(../typefaces/GothamRounded-Medium.eot?#iefix) format('embedded-opentype'),
		 url(../typefaces/GothamRounded-Medium.woff) format('woff'),
		 url(../typefaces/GothamRounded-Medium.ttf) format('truetype'),
		 url(../typefaces/GothamRounded-Medium.svg#Gotham-medium) format('svg');
	font-weight: normal;
	font-style: normal;
	speak: none;
}


@media only screen and (min-width: 768px) and (max-width: 1025px) {
	

}

@media only screen and (min-width: 768px) {
	/** HOME FIRST CONTENT **/
	.circle-cont {  width: 450px; display: block; margin: 0 auto; margin-top:30px; background:none!important; border: none!important; }
	.circle { border-radius: 50%; overflow: hidden;  width: 186px; height: 186px; text-transform:uppercase; vertical-align: middle; padding: 15px; color:#fff!important; text-align: center; cursor: pointer; }
	.circle p { color:#fff; font-family:Gotham-medium!important; }
	.circle p strong { font-size:1.2em; }
	.circle div.price { font-size:5em; font-family:Gotham-bold; display:inline-block; margin:15px 0; }
	.cpnk { background: #e60f84;  }
	.cgrn { background: #0eb48e; float: left; margin-right:15px; }
	.circle > span { width: 136px; display: block; font-size:64px; vertical-align: top; margin: 0 auto; margin-top:-40px; overflow: hidden; font-family:Gotham-bold; }
	.circle span em { display: block; font-size:48px; font-style:normal; font-weight: normal; float: left; margin-top:8px; }
	.circle span span { display: block; font-size:78px; float: left; font-style:normal; }
	.circle strong { display: block; float: none; font-size:14px; font-weight: normal; margin-top:-12px; }
	
	.new-primary { width:100%; padding-bottom:30px; }
	
	.new-primary-inner { width:100%; display: block; margin:0 auto; overflow: hidden; padding:0 2em; max-width:77em; }
	.new-primary-inner > ul { display: block; margin:0 auto; margin-top:36px; }

	.new-primary-inner > ul > li > h2 { padding-bottom:16px; }
	.new-primary-inner > ul > li > h2 span { display: block; line-height:100%; } 
	.new-primary-inner > ul > li > p { color:#333333; padding-bottom:16px;}
	.new-primary-inner > ul > li a, .new-primary-inner li a:visited { text-decoration: none; }
	
	.new-primary-inner  ul li ul  li { width:210px; display: block; float: left; color:#333333; padding-left:16px; margin:0; }
	.new-primary-inner  ul li ul  li strong { display: block; text-transform:uppercase; letter-spacing:-1px; }
	.new-primary-inner  ul li ul  li img { display: block; float: left; padding: 0 12px 40px 0; }
	/* END FIRST CONTENT */
	
	
	
	/** HOME SECOND CONTENT **/
	#content-container {  width: 100%; background: url("../design/images/masters/bkng-secondary.jpg") no-repeat top center; clear: both; border-bottom:1px solid #96c661; }
	#content-container-inner { margin: 0 auto; overflow: hidden; padding-bottom: 40px; }
	#main-content-left h2, #audience-content h2, #main-content-full h2  { font-size:24px; color: #f26633;  }
	#main-content-left p + h2 { margin-top: 20px; }
	#main-content-left h2 span, #audience-content h2 span, #main-content-full h2 span { display: block; font-size:32px; color:#f26633; text-transform: uppercase; line-height: 95%; margin-bottom: 7px;  }
	#main-content-left h5 { font-size:20px; color: #f26633; line-height:100%; margin-top: 20px; }
	#main-content-left h5 span { display: block; font-size:26px; color:#f26633; text-transform: uppercase; }
	#main-content-left p, #audience-content-left p, #audience-content p, #main-content-full p, #terms-conditions p { font: 12px Tahoma, Verdana, Arial; color:#666666; text-align: justify; padding: 5px 0; line-height: 120%; } 
	
	/* END SECOND CONTENT */
	
	
	/** HOME PRE FOOTER **/  
	#pre-footer { padding: 30px 0; overflow: hidden; }
	#pre-footer-inner { width:100%; display: block; margin:0 auto; overflow: hidden; max-width:78.598em; }
	#pre-footer-inner ul li { display: block; color:#fff; float: left; }
	#pre-footer-inner ul li:nth-child(1) { width:40%; } 
	#pre-footer-inner ul li:nth-child(2) { width:60%; } 

	/* END PRE FOOTER */
	
	
	.primary-feat > ul > li  { display: block; float: left; }
	.primary-feat > ul > li:nth-child(1)  { width:40%; }
	.primary-feat > ul > li:nth-child(2)  { width:60%; }
	

	#logo-menu { display:table-cell!important; }

	
	
}

	footer.main-footer .widget.widget_nav_menu .menu li a {
		padding:0 8px!important;
	}
	
	#footer-sidebars > .row aside { padding:30px 0!important; }
	
	#pre-footer-inner { color:#fff; }
	.primary-feat > ul { list-style-type:none; display: block; margin:0 auto; margin-top:36px; }
	.new-primary-inner  ul li ul  li { width:210px; display: block; float: left; color:#333; padding-left:16px; margin:0; }
	.new-primary-inner  ul li ul  li strong { display: block; text-transform:uppercase; letter-spacing:-1px; }
	.new-primary-inner  ul li ul  li img { display: block; float: left; padding: 0 12px 40px 0; }
	.new-primary-inner > ul { list-style-type:none; }
	.new-primary-inner > ul > li  { width:100%; max-width:38.3em; display:inline-block;}
	
	.new-primary-inner  ul li ul { list-style-type:none; display: block; margin: 34px 0 0 30px; }
	.new-primary-inner > ul > li > h2, .new-primary-inner  ul li ul  li strong, .new-primary-inner > ul > li a, .new-primary-inner li a:visited, .primary-feat > ul > li > h2 { color:#ff6633; }
	.primary-feat ul li ul li { font:500 18px "thesans-italic";  color:#333; background: url("../design/images/icons/bullet-plus.png") no-repeat 0px 9px; list-style-type:none; padding: 2px 8px 1px 18px; cursor: pointer; }
	.primary-feat ul li ul li:last-child { color:#ff6633; }
	.primary-feat > ul > li a, .new-primary-inner li a:visited { font-size:13px; color:#ff6633; text-decoration: none; }
	.feat-btn-org {  display: block; color:#fff!important; float:left!important; font-size:18px; text-transform: uppercase; padding: 12px 46px!important;  margin-bottom: 10px;
background: #cc3300; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6); }
	p.notee {  width:90%!important; font-size:12px; color:#333!important; text-align: right!important; padding-top:20px!important; }
	

	.responsive-layout .wpv-grid.extended-content .extended-column-inner { padding:0; }
	
	#pre-footer-inner ul { list-style-type:none; }
	#pre-footer-inner ul > li > div.heith2 p { margin:0; color:#fff; font-size:26px; font-family:Gotham-medium!important; }
	#pre-footer-inner ul > li > div.heith2 div.ispan { display: block; font-size:36px; line-height:100%; font-weight:bold; font-family:Gotham-bold!important; } 
	#pre-footer-inner ul > li > div.parag { width:88%; display: block; font-size:16px; padding-left:50px; background: url('../content/images/residential/homepage/icon-double-left-quot.png') no-repeat 0px 0px; text-align:left; }
	#pre-footer-inner ul > li > div.parag em { display: block; font-size:13px; text-align: right; color:#fff; }
	
	
	.responsive-layout header.main-header .second-row { display:block!important; }
	
	#logo-menu ul { width:20em; margin-left:2em; margin-top:3em; }
	#logo-menu ul > li { display:table-cell; padding:0 15px; text-align:center; font-family:vamtam-icons; }
	#logo-menu ul > li.residential {  }
	#logo-menu ul > li > a { font-family:thesans-bold; color:#777; display:block; margin-top:5px; line-height:15px; font-size:13px; }
	#logo-menu ul > li.current-menu-item > a { color:#f0542d; }
	#logo-menu { display:none; }
	
	.searchform input#searchsubmit {
		width:24px; height:28px; border:none; text-indent:-1000em; position:relative;
		background:url(../design/images/icons/search-sprite.png) #fff 0 -5px; padding:0;
		margin-left:-35px; margin-top:-5px;
	}	
	.searchform input.field { height:30px; padding:0 35px 0 15px; font-size:14px; margin-top:10px; }
	
	footer.main-footer, footer.main-footer p, footer.main-footer a, footer.main-footer th, footer.main-footer td { color:#333; }
	header.main-header #header-text { font-size:14px!important; }
	header.main-header #header-text a { font-size:16px; }
	
	.circle-cont { display: block; background:none!important; border: none!important; }
	.circle { border-radius: 50%; overflow: hidden;  width: 186px; height: 186px; text-transform:uppercase; vertical-align: middle; padding: 15px; color:#fff!important; text-align: center; cursor: pointer; }
	.circle p { color:#fff; font-family:Gotham-medium!important; }
	.circle p strong { font-size:1.2em; }
	.circle div.price { font-size:5em; font-family:Gotham-bold; display:inline-block; margin:15px 0; }
	.cpnk { background: #e60f84; }
	.cgrn { background: #0eb48e; }
	.cpnk, .cgrn { margin:5px auto; }
	.circle > span { width: 136px; display: block; font-size:64px; vertical-align: top; margin: 0 auto; margin-top:-40px; overflow: hidden; font-family:Gotham-bold; }
	.circle span em { display: block; font-size:48px; font-style:normal; font-weight: normal; float: left; margin-top:8px; }
	.circle span span { display: block; font-size:78px; float: left; font-style:normal; }
	.circle strong { display: block; float: none; font-size:14px; font-weight: normal; margin-top:-12px; }
	
	
/* SITEMAP */

.sitemap ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.sitemap li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.sitemap ul > li::before {
	content:''!important;
}
.sitemap li::before, .sitemap li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 15px;
}
.sitemap li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.sitemap li:only-child::after, .sitemap li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.sitemap li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.sitemap li:first-child::before, .sitemap li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.sitemap li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.sitemap li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.sitemap ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.sitemap li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-size: 13px;
	display: inline;
	background-color:#f1f1f1;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.sitemap li a:hover, .sitemap li a:hover+ul li a {
	background: #f0542d; color: #fff; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.sitemap li a:hover+ul li::after, 
.sitemap li a:hover+ul li::before, 
.sitemap li a:hover+ul::before, 
.sitemap li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

.top-nav .menu li.current_page_item {
	background-color:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.top-nav .menu li.current_page_item a { color:#f26633!important; }
.top-nav a { color:#fff!important; font-weight:bold; }